<!-- Header Section Start -->
<header class="header--section style--1">
        <!-- Header Navbar Start -->
        <div class="header--navbar navbar bg-black" data-trigger="sticky">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle style--1 collapsed" data-toggle="collapse" data-target="#headerNav">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Header Navbar Logo Start -->
                    <div class="header--navbar-logo navbar-brand" style="padding-top: 6%;">
                        <a routerLink="/">
                            <img src="assets/alternative_white.png" class="normal" style="height:60px; width:auto; position: absolute; top: 10px;">
                            <img src="assets/alternative_black.png" class="sticky" style="height:60px; width:auto; position: absolute; top: 10px;">
                        </a>
                    </div>
                    <!-- Header Navbar Logo End -->
                </div>
                <!-- <div class="navbar-header"style="position: absolute; left: 50%;transform:translateX(-50%);">
                    <img src="assets/smt3.png" style="height: 50px;width:auto; margin-top: 20px;">
                </div> -->

                <div id="headerNav" class="navbar-collapse collapse float--right">
                    <!-- Header Nav Links Start -->
                    <ul class="header--nav-links style--1 nav ff--primary">
                        <li>
                            <a href="#" >
                                <span>Feed</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Members</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle rounded-circle" data-toggle="dropdown" style="position: relative; background-color: lightgrey;margin-top:30%;padding:0; width: 50px;height: 50px;position: relative;overflow: hidden;border-radius: 50%;">
                                <!-- <img src="assets/posty.png" style="height:100%; width:auto;"> -->
                                <h3 class="" style="position:absolute; height:100%; width:100%;text-align: center; margin:0;margin-top: 20%">SW</h3>
                                <!-- <i class="fa fa-caret-down"></i> -->
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="blog-sidebar-right.html" style="color: black;">Veiw Profile</a></li>
                                <hr>
                                <!-- <li><a href="blog-sidebar-left.html">settings</a></li> -->
                                <li><a href="blog-details.html" style="color: gray;">Sign out</a></li>
                            </ul>
                        </li>
                       
                    </ul>
                    <!-- Header Nav Links End -->
                </div>
            </div>
        </div>
        <!-- Header Navbar End -->
    </header>
    <!-- Header Section End -->