<style>
  #bg {
    background-image: url("assets/main.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .my-center {
    width: 100%;
    position: absolute;
    top: 15%;
    /* transform: translateY(-50%); */
    left: 50%;
    transform: translateX(-50%);
  }

  #pic_logo {
    /* height: 40%; */
    width: 20%;
  }
  
  #invalidCode {
    color: red;
    font-weight: bold;
    font-size: 14px;
    float: left;
    padding-top: 10px;
  }

  #validCode {
    color: red;
    font-weight: bold;
    font-size: 14px;
    float: left;
    padding-top: 10px;
  }

  #required {
    color: red;
    display: inline-block;
  }
  
  #nameField {
    display: inline-block;
    width: 50%;
    padding-right: 3%;
  }

  #emailField {
    display: inline-block;
    width: 50%;
    padding-right: 3%;
    position: fixed;
  }
  
  #passwordField {
    display: inline-block;
    width: 50%;
    padding-right: 3%;
  }

  #schoolField {
    display: inline-block;
    width: 50%;
    padding-right: 3%;
    position: fixed;
  }

  #majorField {
    display: inline-block;
    width: 50%;
    padding-right: 3%;
  }
  
  #minorField {
    display: inline-block;
    width: 50%;
    padding-right: 3%;
    position: fixed;
  }
  
</style>

<!-- Preloader Start -->
<div id="preloader">
  <div class="preloader--inner"></div>
</div>
<!-- Preloader End -->

<!-- Wrapper Start -->
<div class="wrapper">
  <!-- Banner Section Start -->
  <!-- Banner Section Start -->
  <section class="banner--section">
    <!-- Banner Slider Start -->
    <div class="banner--slider owl-carousel" data-owl-loop="false">
      <!-- Banner Item Start -->
      <div class="banner--item" data-bg-img="assets/main.jpg" data-overlay="0.5">
        <div class="vc--parent">
          <div class="vc--child">
            <div class="container">
              <div class="row row--md-vc">
                <div class="col-md-7">
                  <!-- Banner Content Start -->
                  <div class="banner--content pt--70 pb--80">
                    <div class="title">
                      <h1 class="h2 text-white">Welcome Boilermakers</h1>
                    </div>

                    <div class="sub-title">
                      <h2 class="h1 text-white">Connect, Build &amp; Grow</h2>
                    </div>

                    <div class="desc fs--16">
                      <p> Have you always wanted to start a side project? Connect with passionate Purdue students across
                        campus. Build projects with those in different majors.
                        Grow your profile and skillset.</p>
                    </div>

                    <div class="action text-uppercase">
                      <a routerLink="/login" class="btn btn-primary" >Already
                        have an account? Login Here</a>
                      <a class="btn btn-primary" data-toggle="modal" data-target="#registerModal">
                        New here? Click to register</a>
                    </div>
                  </div>
                  <!-- Banner Content End -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner Item End -->
    </div>
    <!-- Banner Slider End -->
  </section>
  <!-- Banner Section End -->
  <!-- Features Section Start -->
  <section class="section bg-lighter pt--80 pb--40">
    <div class="container">
      <div class="row AdjustRow">
        <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
          <!-- Feature Item Start -->
          <div class="feature--item bg-default text-center">
            <div class="title">
              <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">11</span></h2>
            </div>

            <div class="sub-title">
              <h3 class="h2 fs--16">Number Of Schools</h3>
            </div>

            <!-- <div class="desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div> -->
          </div>
          <!-- Feature Item End -->
        </div>

        <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
          <!-- Feature Item Start -->
          <div class="feature--item bg-default text-center">
            <div class="title">
              <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">190</span>+</h2>
            </div>

            <div class="sub-title">
              <h3 class="h2 fs--16">Number Of Majors Offered</h3>
            </div>

            <!-- <div class="desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div> -->
          </div>
          <!-- Feature Item End -->
        </div>

        <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
          <!-- Feature Item Start -->
          <div class="feature--item bg-default text-center">
            <div class="title">
              <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">1090</span></h2>
            </div>

            <div class="sub-title">
              <h3 class="h2 fs--16">Number Of Organizations</h3>
            </div>

            <!-- <div class="desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div> -->
          </div>
          <!-- Feature Item End -->
        </div>

        <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
          <!-- Feature Item Start -->
          <div class="feature--item bg-default text-center">
            <div class="title">
              <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">40,000</span>+</h2>
            </div>

            <div class="sub-title">
              <h3 class="h2 fs--16">Number Of Purdue Students</h3>
            </div>

            <!-- <div class="desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div> -->
          </div>
          <!-- Feature Item End -->
        </div>
      </div>
    </div>
  </section>
  <!-- Features Section End -->

<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form class="needs-validation" novalidate (submit)="register()">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Register</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <span id="nameField" >
                  <label> Name
                      <input type="text" id="name" name="name" placeholder="Name" [formControl]="nameForm" [(ngModel)]="credentials.name" class="form-control" required>
                    </label>
                    <div id="required" *ngIf="nameForm.touched && nameForm.errors"  class="invalid-feedback">
                        Please enter a name
                    </div>
              </span>
              <span id="emailField">
                <label> Email
                  <input type="text" name="email" placeholder="Email" [formControl]="emailForm" [(ngModel)]="credentials.email" class="form-control" required>
                </label>
                <div *ngIf="emailForm.errors">
                  <div id="required" *ngIf="emailForm.touched && emailForm.errors.required" class="invalid-feedback">
                    Please enter a Purdue email
                  </div>
                  <div id="required" *ngIf="emailForm.value !== '' && emailForm.errors.emailDomain !== null" class="invalid-feedback">
                    Must be a Purdue email
                  </div>
                </div>          
              </span>       
            </div>
            <div class="form-group">     
              <span id="passwordField">
                <label> Password
                  <input type="password" name="password" placeholder="Password" [formControl]="passwordForm" [(ngModel)]="credentials.password" class="form-control" required>
                </label>
                <div id="required" *ngIf="passwordForm.touched && passwordForm.errors" class="invalid-feedback">
                    Please enter a password
                </div>
              </span>
              <span id="schoolField">
                <label> School
                  <input type="text" name="school" placeholder="School" [formControl]="schoolForm" [(ngModel)]="credentials.school" class="form-control" required>
                </label>
                <div id="required" *ngIf="schoolForm.touched && schoolForm.errors" class="invalid-feedback">
                    Please enter your school
                </div>
              </span> 
            </div>
            <div class="form-group">
              <span id="majorField">
                <div  class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Major</label>
                  </div>
                  <select name="selectMajor" [formControl]="majorForm" [(ngModel)]="credentials.major" class="form-control" id="inputGroupSelect01" required>
                    <option value=''>Select your major</option>  
                    <option value='{{major}}' *ngFor="let major of MAJORS_ARRAY">{{major}}</option>
                  </select>
                  <div id="required" *ngIf="majorForm.touched && majorForm.errors" class="invalid-feedback">
                      Please enter your major
                  </div>
                </div>
              </span>
              <span id="minorField">
                <label> Minor
                  <input type="text" name="major" placeholder="Minor" [formControl]="minorForm" [(ngModel)]="credentials.minor" class="form-control" required>
                </label>
                <div id="required" *ngIf="minorForm.touched && minorForm.errors" class="invalid-feedback">
                    Please enter your minor (if applicable)
                </div>
              </span>  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>      
            <button type="submit" [disabled]="nameForm.errors || emailForm.errors || passwordForm.errors || schoolForm.errors || majorForm.errors" (click)="register()" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" href=#confirmModal>Register</button>
            <div id="invalidCode" *ngIf="invalidEmail == true">
                <p>A user with that email already exists</p>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>

<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form (submit)="confirm()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm email</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <img src="assets/logo.png" class="text-center mt-4 mb-4 rounded" id="pic_logo"> -->
          
          <div class="form-group">
            <input type="text" style="width: 40%" class="form-control" name="code" placeholder="Enter confirmation PIN here"
              [(ngModel)]="confirmCredentials.code">
          </div>
          <div class="modal-footer">
            <div id="invalidCode" *ngIf="invalidCode == true">
              <p>Invalid code</p>
            </div>
            <div id="validCode" *ngIf="validCode">
              <p>Account Verified!</p>
            </div>
            <button *ngIf="!validCode" type="submit" class="btn btn-primary">Confirm</button>
            <!-- <button *ngIf="!validCode" type="submit" class="btn btn-primary">Confirm</button> -->
            <button *ngIf="validCode" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" href=#moreInfoModal>More About Me</button>
          </div> 
        </div>
      </div>
    </form>
  </div>
</div>

<!-- More Info Modal -->
<div class="modal fade" id="moreInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form (submit)="submitMoreInfo()">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">More About You</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">            
              <div class="form-group">
                <div>
                  <label>
                    <p style="font-size: 14px">Description</p>
                    <input type="text" name="description" placeholder="What are you interested in?" [(ngModel)]="moreInfo.description" class="form-control" required>
                  </label>
                </div>
                <br>
                <label>
                    <p style="font-size: 14px">Select your skills</p>
                </label>
                <div *ngFor="let skill of skills" class="form-check">
                    <label class="form-check-label" for="defaultCheck">
                      <input name="skill" class="form-check-input" type="checkbox" value="" [(ngModel)]="skill.selected" id="defaultCheck">
                      {{skill.name}}
                    </label>  
                </div>
                <br>            
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span style="font-size: 14px" class="input-group-text">Upload a profile picture</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01" #fileInput>
                    </div>
                </div>
              </div>
            <div class="modal-footer">             
              <button type="button" (click)="skipMoreInfo()" class="btn btn-secondary" data-dismiss="modal">Skip for now</button>
              <button type="submit" class="btn btn-primary">Login</button>
            </div> 
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- How It Works Section Start -->
  <section class="section bg-lighter pt--70 pb--40">
    <div class="container">
      <!-- Section Title Start -->
      <div class="section--title pb--50 text-center">
        <div class="title">
          <h2 class="h2">How It Works?</h2>
        </div>

        <!-- <div class="sub-title">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has industry's.</p>
        </div> -->
      </div>
      <!-- Section Title End -->

      <div class="row">
        <div class="col-md-7 pb--40">
          <div class="row gutter--15 AdjustRow" data-scroll-reveal="group">
            <div class="col-xs-4 pb--15">
              <img src="assets/register-middle.jpg" alt="">
            </div>

            <div class="col-xs-4 pb--15">
              <img src="assets/register-left.jpg" alt="">
            </div>

            <div class="col-xs-4 pb--15">
              <img src="assets/register-right.jpg" alt="">
            </div>

            <div class="col-xs-12">
              <img src="assets/register-bottom.jpg" alt="">
            </div>
          </div>
        </div>

        <div class="col-md-5 pb--40">
          <!-- Info Items Start -->
          <div class="info--items" data-scroll-reveal="group">
            <!-- Info Item Start -->
            <div class="info--item clearfix">
              <div class="icon">
                <img src="img/how-it-works-img/icon-01.png" alt="">
              </div>

              <div class="info">
                <div class="title">
                  <h3 class="h4 fw--700">Create An Account</h3>
                </div>

                <div class="desc">
                  <p>Sign up with your Purdue email address. Create your academic profile today.</p>
                </div>
              </div>
            </div>
            <!-- Info Item End -->

            <!-- Info Item Start -->
            <div class="info--item clearfix">
              <div class="icon">
                <img src="img/how-it-works-img/icon-02.png" alt="">
              </div>

              <div class="info">
                <div class="title">
                  <h3 class="h4 fw--700">Find Projects &amp; Students</h3>
                </div>

                <div class="desc">
                  <p>Have others apply to join your project or search for projects or students to join</p>
                </div>
              </div>
            </div>
            <!-- Info Item End -->

            <!-- Info Item Start -->
            <div class="info--item clearfix">
              <div class="icon">
                <img src="img/how-it-works-img/icon-03.png" alt="">
              </div>

              <div class="info">
                <div class="title">
                  <h3 class="h4 fw--700">Apply To Join</h3>
                </div>

                <div class="desc">
                  <p>Collaborate with other students by applying to the project</p>
                </div>
              </div>
            </div>
            <!-- Info Item End -->

            <!-- Info Item Start -->
            <!-- <div class="info--item clearfix">
              <div class="icon">
                <img src="img/how-it-works-img/icon-04.png" alt="">
              </div>

              <div class="info">
                <div class="title">
                  <h3 class="h4 fw--700">Share With Friends</h3>
                </div>

                <div class="desc">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
              </div>
            </div> -->
            <!-- Info Item End -->
          </div>
          <!-- Info Items End -->
        </div>
      </div>
    </div>
  </section>
  <!-- How It Works Section End -->

  <!-- Why Choose Us Section Start -->
  <!-- <section class="section bg-lighter pt--80 pb--20"> -->
  <!-- <div class="container">
      <div class="row row--md-vc">
        <div class="col-md-6 pb--60"> -->
  <!-- Video Popup Start -->
  <!-- <div class="video--popup style--2" data-overlay="0.3">
            <img src="img/why-choose-us-img/video-poster-2.jpg" alt="">

            <a href="https://www.youtube.com/watch?v=YE7VzlLtp-4" data-overlay="0.5" data-overlay-color="primary"
              data-trigger="video_popup">
              <i class="fa fa-play"></i>
            </a>
          </div> -->
  <!-- Video Popup End -->
  <!-- </div> -->

  <!-- <div class="col-md-6 pb--60"> -->
  <!-- Text Block Start -->
  <!-- <div class="text--block">
            <div class="title">
              <h2 class="h2 fw--600">Why Choose Us?</h2>
            </div>

            <div class="content fs--14">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in esse cillum dolore eu fugiat nulla
                pariatur.</p>
            </div>

            <div class="action">
              <a href="#" class="btn btn-default">Read More<i class="fa ml--10 fa-caret-right"></i></a>
              <a href="#" class="btn btn-primary">Get Started<i class="fa ml--10 fa-caret-right"></i></a>
            </div>
          </div> -->
  <!-- Text Block End -->
  <!-- </div>
      </div>
    </div>
  </section> -->
  <!-- Why Choose Us Section End -->

  <!-- FAQ and Download Section Start -->
  <section class="section pt--70 pb--20">
    <div class="container">
      <div class="row">
        <div class="col-md-5 pb--60">
          <!-- FAQ Items Start -->
          <div class="faq--items" id="faqItems" data-scroll-reveal="group">
            <div class="title pb--20">
              <h2 class="h2 fw--600">Frequently Asked Question</h2>
            </div>

            <!-- FAQ Item Start -->
            <div class="faq--item style--1 panel">
              <div class="title">
                <h3 class="h6 fw--700 text-darker">
                  <a href="#faqItem01" data-parent="#faqItems" data-toggle="collapse" class="collapsed">
                    <span>How can I register?</span>
                  </a>
                </h3>
              </div>

              <div id="faqItem01" class="content collapse">
                <div class="content--inner">
                  <p>Simple! Log in with your Purdue Address and check your Purdue Email for a confirmation to register.
                    Happy Connecting!</p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->

            <!-- FAQ Item Start -->
            <div class="faq--item style--1 panel">
              <div class="title">
                <h3 class="h6 fw--700 text-darker">
                  <a href="#faqItem02" data-parent="#faqItems" data-toggle="collapse" class="collapsed">
                    <span>Will my profile be public?</span>
                  </a>
                </h3>
              </div>

              <div id="faqItem02" class="content collapse">
                <div class="content--inner">
                  <p>Yes! The idea is to allow yourself to be discoverable to the Boilermaker community. This will allow
                    for users to see if you're the
                    perfect fit and for you to find other passionate students.</p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->

            <!-- FAQ Item Start -->
            <div class="faq--item style--1 panel">
              <div class="title">
                <h3 class="h6 fw--700 text-darker">
                  <a href="#faqItem03" data-parent="#faqItems" data-toggle="collapse" class="collapsed">
                    <span>Is this free?</span>
                  </a>
                </h3>
              </div>

              <div id="faqItem03" class="content collapse">
                <div class="content--inner">
                  <p>Absolutely, save your money! SeekMyTeam understands the college budget. There are no
                    premium or subscription based plans. </p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->
          </div>
          <!-- FAQ Items End -->
        </div>

        <div class="col-md-7 pb--60">
          <!-- Download Block Start -->
            <!-- FAQ Item Start -->
            <div class="faq--item style--1 panel">
              <div class="title">
                <h3 class="h6 fw--700 text-darker">
                  <a href="#faqItem04" data-parent="#faqItems" data-toggle="collapse" class="collapsed">
                    <span>I am no longer a Purdue Student. May I still join?</span>
                  </a>
                </h3>
              </div>

              <div id="faqItem04" class="content collapse">
                <div class="content--inner">
                  <p>Unfortunately, at this time we only support Purdue Students or Alumni with access to a purdue.edu </p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->

            <!-- FAQ Item Start -->
            <div class="faq--item style--1 panel">
              <div class="title">
                <h3 class="h6 fw--700 text-darker">
                  <a href="#faqItem05" data-parent="#faqItems" data-toggle="collapse" class="collapsed">
                    <span>I am a Purdue Professor. May I still join?</span>
                  </a>
                </h3>
              </div>

              <div id="faqItem05" class="content collapse">
                <div class="content--inner">
                  <p>Most definitely! Contact us directly to be verified and receive a badge on your profile! </p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->
        </div>
      </div>
    </div>
  </section>
  <!-- FAQ and Download Section End -->

  <!-- Footer Section Start -->
  <footer class="footer--section">
    <!-- Footer Widgets Start -->
    <div class="footer--widgets pt--70 pb--20 bg-lightdark" data-bg-img="img/footer-img/footer-widgets-bg.png">
      <div class="container">
        <div class="row AdjustRow">
          <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
            <!-- Widget Start -->
            <div class="widget">
              <h2 class="h4 fw--700 widget--title">About Us</h2>

              <!-- Text Widget Start -->
              <div class="text--widget">
                <p>Ipsum is simply dummy text of the printing printing and typesetting industry.</p>

                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  believable.</p>
              </div>
              <!-- Text Widget End -->
            </div>
            <!-- Widget End -->
          </div>

          <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
          </div>

          <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
          </div>

          <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
            <!-- Widget Start -->
            <div class="widget">
              <h2 class="h4 fw--700 widget--title">Subscribe To Our Newsletter</h2>

              <!-- Newsletter Widget Start -->
              <div class="newsletter--widget style--2" data-form="validate">
                <p>Ipsum is simply dummy text of the printing printing and typesetting industry.</p>

                <form
                  action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&id=f4e0e93d1d"
                  method="post" name="mc-embedded-subscribe-form" target="_blank">
                  <div class="input-group">
                    <input type="email" name="EMAIL" placeholder="Enter your emil address" class="form-control"
                      autocomplete="off" required>

                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-send-o"></i></button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- Newsletter Widget End -->
            </div>
            <!-- Widget End -->


          </div>
        </div>
      </div>
    </div>
    <!-- Footer Widgets End -->

    <!-- Footer Copyright Start -->
    <div class="footer--copyright pt--30 pb--30 bg-darkest">
      <div class="container">
        <div class="text fw--500 fs--14 float--left">
          <p>Copyright &copy; Soci<span>fly</span>. All Rights Reserved.</p>
          <p>Design and Developed with <i class="fa fa-heart text-primary"></i> by <a
              href="https://themeforest.net/user/themelooks">ThemeLooks</a></p>
        </div>

        <div class="social float--right">
          <ul class="nav">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Footer Copyright End -->
  </footer>
  <!-- Footer Section End -->
</div>
<!-- Wrapper End -->

<!-- Back To Top Button Start -->
<div id="backToTop">
  <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
</div>
<!-- Back To Top Button End -->