<!-- Start Edit Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Profile</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5>Change Profile Picture</h5>

                    <!-- <input class="form-control-file" type="file" (change)="previewFile()" #fileInput> -->
                    <input class="form-control-file" type="file" #fileInput>
                    <br>

                    <h5>Social Media Links</h5>

                    <!-- Facebook -->
                    <label><b>Facebook</b></label>
                    <input type="text" [(ngModel)]="editDetails.facebook" class="form-control" placeholder="Facebook">
                    <br>

                    <!-- Linkedin -->
                    <label><b>LinkedIn</b></label>
                    <input type="text" [(ngModel)]="editDetails.linkedin" class="form-control" placeholder="LinkedIn">
                    <br>

                    <!-- Github -->
                    <label><b>Github</b></label>
                    <input type="text" [(ngModel)]="editDetails.github" class="form-control" placeholder="Github">
                    <br>

                    <h5>Description</h5>
                    <textarea [(ngModel)]="editDetails.description" rows="2" class="form-control"></textarea>
                    <br>

                    <div class="form-group mt-3">
                        <h5>My Skills</h5>
                        <select class="form-control" id="selectedSkill" #sk (change)="addSkill(sk.value)">
                            <option value="Select a skill" disabled>Select a skill</option>
                            <option *ngFor="let skill of SKILLS_ARRAY" value={{skill}}>
                                {{skill}}
                            </option>
                        </select>
                    </div>
                    <br>
                    <div class="mb-2">
                        <button type="button" class="btn btn-outline-info mr-2"
                            *ngFor="let item of editDetails.skills; let i = index"
                            (click)="deleteSkill(i)">{{item}}</button>
                    </div>
                </div>
                <div class="modal-footer mb-0">
                    <button type="button" class="btn btn-secondary" (click)="resetEdit()"
                        data-dismiss="modal">Close</button>

                    <button type="button" (click)="updateProfile()" data-dismiss="modal"
                        class="btn btn-primary">Save</button>

                    <button type="button" data-dismiss="modal" data-toggle="modal" href="#confirmDeleteModal"
                        class="btn btn-primary" style="float: left;">Delete Account</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Edit Profile Modal -->

<!-- Start Confirm Delete Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete Profile</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <button class="btn btn-primary" (click)="handleDelete()">Are you sure you want to delete?</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Confirm Delete Modal -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Cover Header Start -->
    <div class="cover--header pt--80 text-center"
        data-bg-img="https://d24imx1z1vc7kd.cloudfront.net/static-images/profile_header.jpg" data-overlay="0.4"
        data-overlay-color="white">
        <div class="container">
            <div class="cover--avatar online" data-overlay="0.3" data-overlay-color="primary">
                <img [src]="buildPic(getEmail)" alt="">
                <!-- <img src="assets/profile_icon_2.jpg" alt=""> -->
            </div>

            <div class="cover--user-name">
                <h2 class="h3 fw--600">{{details.name}}</h2>
                <!-- <h2 class="">Shengqi Wang -->
                <button class="btn border-0 bg-white" data-toggle="modal" data-target="#profileModal"
                    style="padding: 0; background: none">
                    <img [src]="buildAsset('edit.svg')" style="height: 25px; margin-left: 1.5vw" alt="edit btn">
                </button>
            </div>
        </div>
    </div>
    <!-- Cover Header End -->

    <!-- Page Wrapper Start -->
    <section class="page--wrapper pt--80 pb--20">
        <div class="container">
            <div class="row">
                <!-- Main Content Start -->
                <div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                    <div class="main--content-inner drop--shadow">
                        <!-- Content Nav Start -->
                        <div class="content--nav pb--30">
                            <ul class="nav ff--primary fs--14 fw--500 bg-lighter">
                                <li style="cursor: pointer;" (click)="routeProfile()"><a>Profile</a></li>
                                <li style="cursor: pointer;" (click)="routePosts()"><a>My Projects</a></li>
                                <li class="active"><a>Applied Projects</a></li>
                            </ul>
                        </div>
                        <!-- Content Nav End -->

                        <!-- Forum Header Start -->
                        <div class="forum--header pb--50">
                            <div class="forum--title">
                                <h3 class="h3 fw--500 text-default">Projects I've Applied To</h3>
                            </div>

                            <div class="forum--subtitle ff--primary fs--14 text-darker">
                                <p>Viewing {{userPosts.length}} Projects</p>
                            </div>
                        </div>
                        <!-- Forum Header End -->

                        <!-- Project List Start -->
                        <div class="topics--list">
                            <table class="table">
                                <thead class="ff--primary fs--14 text-darkest">
                                    <tr>
                                        <th>Projects</th>
                                        <th>Description</th>
                                        <th>Age</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr style="cursor: pointer;" *ngFor="let post of userPosts; let idx = index"
                                        (click)="routeProject(post.name)">
                                        <td>
                                            <h4 class="h6 fw--500 text-darkest"><a class="btn-link">{{post.name}}</a>
                                            </h4>

                                            <p>Started by <a>{{post.ownerName}}</a></p>
                                        </td>
                                        <td>
                                            <p class="ff--primary fw--500 fs--14 text-darkest">{{post.description}}</p>
                                        </td>
                                        <td>
                                            <i class="text-primary fa fa-paperclip"></i>

                                            <p>{{post.age}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Project List End -->
                    </div>
                </div>
                <!-- Main Content End -->


                <!-- Main Sidebar Start -->
                <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">
                    <!-- Widget Start -->
                    <div class="widget">
                        <h1 class="h4 fw--700 widget--title">Contact</h1>
                        <!-- Text Widget Start -->
                        <div class="text--widget pb-2">
                            <p> <span class="text-darker">Email: </span> {{details?.email}}</p>
                        </div>
                        <br>
                        <a style="cursor:pointer; margin-right:10px;" (click)="directFacebook()"><img
                                [src]="buildAsset('facebook.svg')" width="40px"></a>

                        <a style="cursor:pointer; margin-right:10px;" (click)="directLinkedin()"><img
                                [src]="buildAsset('linkedin.svg')" width="40px"></a>

                        <a style="cursor:pointer;" (click)="directGithub()"><img [src]="buildAsset('github.png')"
                                width="40px"></a>
                        <!-- Text Widget End -->
                    </div>

                    <!-- Widget Start -->
                    <div class="widget">
                        <h2 class="h4 fw--700 widget--title">Advertisements</h2>

                        <!-- Ad Widget Start -->
                        <div class="ad--widget">
                            <a href="#">
                                <img [src]="buildAsset('ad.jpg')" alt="" class="center-block">
                            </a>
                        </div>
                        <!-- Ad Widget End -->
                    </div>
                    <!-- Widget End -->
                </div>
                <!-- Main Sidebar End -->
            </div>
        </div>
    </section>
    <!-- Page Wrapper End -->
</div>
<!-- Wrapper End -->

<!-- Back To Top Button Start -->
<div id="backToTop">
    <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
</div>
<!-- Back To Top Button End -->