<div class="container-fluid">
    <div class="row">
        <div class="offset-2 col-8">
            <input class="form-control" [(ngModel)]="searchText" placeholder="Search">

            <!-- Posting cards -->
            <div style="cursor: pointer;" class="card text-center mb-3" *ngFor="let post of posts | filter:searchText:'name'; let idx = index" (click)="displayPost(post)" data-toggle="modal" data-target="#postModal">
                <div class="card-header text-left">
                    <h4>{{post.name}}</h4>
                    <!-- <img src="assets/jeetsball.jpg" alt=""> -->
                </div>
                <div class="card-body text-left">
                    <h6>{{post.description}}</h6>
                    <div class="form-group mt-3 mb-0">
                        <button type="button" class="btn btn-outline-info mr-2" *ngFor="let item of post.skills; let i = index">{{item}}</button>
                    </div>
                </div>
                <!-- <div class="card-footer text-muted">
                    2 days ago
                </div> -->
            </div>
        </div>
    </div>
</div>
    