<div class="container-fluid">
  <!-- Mother row -->
  <div class="row">
    <div class="offset-1 col-10 bg-white rounded"> <!-- This creates white sidebars :)-->
      <!-- Beginning of inner content -->
      <div class="row mt-2 ml-2">
        <div class="col-4">
          <img class="rounded-circle" height="200" width="200" [src]="fileDataUri">
          <h2>Mark</h2>
          <!-- <h2>{{ details?.name }}</h2> -->
          <h5>jeets@jeetsmail.com</h5>
          <!-- <h5>{{ details?.email }}</h5> -->
        </div>
      </div>

      <!-- Form with submit method and template variable (#fileInput) -->
      <div class="row">
        <form *ngIf="isCurrentUser" (submit)="uploadFile($event)">
          <input type="file" (change)="previewFile()" #fileInput>
          <button type="submit" *ngIf="fileDataUri.length !== 0" class="btn btn-primary">Upload</button>
        </form>
      </div>
      
      <hr class="border-top mt-3 mb-2">

      <div class="row mt-3 ml-2 mr-2">
        <!-- <label>Description</label>
        <textarea readonly *ngIf="!isCurrentUser" class="form-control" [(ngModel)]="details.description" rows="3"></textarea>
        <textarea *ngIf="isCurrentUser" class="form-control" [(ngModel)]="details.description" rows="3"></textarea> -->
        <textarea class="form-control border-0" rows="4">Creative Web Designer working full stack. Fluent in HTML/CSS/JS/Bootstrap, familiar with Node, Angular, Webpack and Relational Databases.
            Experienced Software Quality Assurance with a demonstrated history of working in the telecommunications industry. Strong quality assurance professional skilled in Python, LTE, C++, Test Automation, and Jenkins.
        </textarea>
      </div>


      <div class="form-group">
        <label for="skills">Skills</label>
      </div>
      <div class="form-group">
        <span class="form-control-static" *ngFor="let item of details.skills; let i = index" (click)="deleteSkill(i)" style="cursor: pointer;">
          {{item}}
        </span>
      </div>

      <div *ngIf="isCurrentUser" class="form-group">
        <input type="text" [(ngModel)]="newSkill">  
        <div class="row mt-4">
          <div class="col-2">
            <button type="button" (click)="addSkill()" class="btn btn-success pl-6 pr-6">Add Skill</button>
          </div>
        </div>
      </div>
      
      <div class="row mt-4">
          <div class="col-2">
              <button type="button" *ngIf="isCurrentUser" (click)="updateProfile()" class="btn btn-success pl-6 pr-6">Save</button>
          </div>
          <div class="col-2">
            <button type="button" *ngIf="isCurrentUser" (click)="handleDelete()" class="btn btn-danger pl-6 pr-6">Delete Account</button>
          </div>
      </div>
      <!-- End of input stuff -->

    </div>
    <!-- End of inner content -->
  </div>
  <!-- End of Mother Row -->
</div>
  <!-- End of container -->