<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Cover Header Start -->
    <div class="cover--header pt--80 text-center" data-bg-img="img/cover-header-img/bg-01.jpg" data-overlay="0.6"
        data-overlay-color="white">
        <div class="container">
            <div class="cover--avatar online" data-overlay="0.3" data-overlay-color="primary">
                <img [src]="fileDataUrl" alt="">
            </div>

            <div class="cover--user-name">
                <h2 class="h3 fw--600">{{details.name}}</h2>
            </div>
        </div>
    </div>
    <!-- Cover Header End -->
    <!-- Page Wrapper Start -->
    <section class="page--wrapper pt--80 pb--20">
        <div class="container">
            <div class="row">
                <!-- Main Content Start -->
                <div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                    <div class="main--content-inner drop--shadow">
                        <!-- Content Nav Start -->
                        <div class="content--nav pb--30">
                            <ul class="nav ff--primary fs--14 fw--500 bg-lighter">
                                <li class="active"><a>Profile</a></li>
                            </ul>
                        </div>
                        <!-- Content Nav End -->

                        <!-- Profile Details Start -->
                        <div class="profile--details fs--14">
                            <!-- Profile Item Start -->
                            <div class="profile--item">
                                <div class="profile--heading">
                                    <h3 class="h4 fw--700">
                                        <span class="mr--4">About Me</span>
                                        <i class="ml--10 text-primary fa fa-caret-right"></i>
                                    </h3>
                                </div>

                                <div class="profile--info">
                                    <table class="table">
                                        <tr>
                                            <th class="fw--700 text-darkest">Full Name</th>
                                            <td><a href="#" class="btn-link">{{details.name}}</a></td>
                                        </tr>
                                        <tr>
                                            <th class="fw--700 text-darkest">Skill</th>
                                            <td>Graphic Design, Font-End Development, Web Development</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- Profile Item End -->

                            <!-- Profile Item Start -->
                            <div class="profile--item">
                                <div class="profile--heading">
                                    <h3 class="h4 fw--700">
                                        <span class="mr--4">Biography</span>
                                        <i class="ml--10 text-primary fa fa-caret-right"></i>
                                    </h3>
                                </div>

                                <div class="profile--info">
                                    <p>{{details.description}}</p>
                                </div>
                            </div>
                            <!-- Profile Item End -->

                            <!-- Profile Item Start -->
                            <div class="profile--item">
                                <div class="profile--heading">
                                    <h3 class="h4 fw--700">
                                        <span class="mr--4">Work Experience</span>
                                        <i class="ml--10 text-primary fa fa-caret-right"></i>
                                    </h3>
                                </div>

                                <div class="profile--info">
                                    <dl>
                                        <dt>
                                            <p class="h6 fw--700 text-darkest">Graphic Designer 2010 - 2012</p>
                                            <p><small class="fw--400 fs--12 text-darker">Graphicriver.net at
                                                    Sydney</small></p>
                                        </dt>
                                        <dd>
                                            <p>There are many variations of passages of Lorem Ipsum available, but
                                                the majority have suffered alteration in some form, by injected
                                                humour which don't look even slightly believable.</p>
                                        </dd>

                                        <dt>
                                            <p class="h6 fw--700 text-darkest">Font-End Developer 2012 - 2014</p>
                                            <p><small class="fw--400 fs--12 text-darker">Themeforest.net at
                                                    Australia</small></p>
                                        </dt>
                                        <dd>
                                            <p>There are many variations of passages of Lorem Ipsum available, but
                                                the majority have suffered alteration in some form, by injected
                                                humour which don't look even slightly believable.</p>
                                        </dd>

                                        <dt>
                                            <p class="h6 fw--700 text-darkest">Web Developer 2014 - Still Now</p>
                                            <p><small class="fw--400 fs--12 text-darker">Codecanyon.net at
                                                    Sydney</small></p>
                                        </dt>
                                        <dd>
                                            <p>There are many variations of passages of Lorem Ipsum available, but
                                                the majority have suffered alteration in some form, by injected
                                                humour which don't look even slightly believable.</p>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <!-- Profile Item End -->
                        </div>
                        <!-- Profile Details End -->
                    </div>
                </div>
                <!-- Main Content End -->


                <!-- Main Sidebar Start -->
                <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">
                    <!-- Widget Start -->
                    <div class="widget">
                        <h1 class="h4 fw--700 widget--title">Contact</h1>
                        <!-- Text Widget Start -->
                        <div class="text--widget">
                            <p><b>Email</b></p>
                            <p style="margin-left: 5px">{{ details?.email }}</p>
                        </div>
                        <a style="cursor:pointer; margin-right:10px;" (click)="directFacebook()"><img
                                src="assets/facebook.svg" width="40px"></a>

                        <a style="cursor:pointer;" (click)="directLinkedin()"><img src="assets/linkedin.svg"
                                width="40px"></a>
                        <!-- Text Widget End -->
                    </div>

                    <!-- Widget Start -->
                    <div class="widget">
                        <h2 class="h4 fw--700 widget--title">Advertisements</h2>

                        <!-- Ad Widget Start -->
                        <div class="ad--widget">
                            <a href="#">
                                <img src="img/widgets-img/ad.jpg" alt="" class="center-block">
                            </a>
                        </div>
                        <!-- Ad Widget End -->
                    </div>
                    <!-- Widget End -->
                </div>
                <!-- Main Sidebar End -->
            </div>
        </div>
    </section>
    <!-- Page Wrapper End -->
</div>
<!-- Wrapper End -->

<!-- Back To Top Button Start -->
<div id="backToTop">
    <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
</div>
<!-- Back To Top Button End -->