<!-- Content Nav Start -->
<div class="content--nav pb--30">
    <ul class="nav ff--primary fs--14 fw--500 bg-lighter">
        <li style="cursor: pointer;" (click)="routeProfile()"><a>Profile</a></li>
        <li style="cursor: pointer;" (click)="routePosts()"><a>My Posts</a></li>
        <li class="active"><a>Applied Posts</a></li>
    </ul>
</div>
<!-- Content Nav End -->

<!-- Profile Details Start -->
<div class="profile--details fs--14">
    <!-- Profile Item Start -->
    <div class="profile--item">
        <div class="profile--heading">
            <h3 class="h4 fw--700">
                <span class="mr--4">About Me</span>
                <i class="ml--10 text-primary fa fa-caret-right"></i>
            </h3>
        </div>

        <div class="profile--info">
            <table class="table">
                <tr>
                    <th class="fw--700 text-darkest">Full Name</th>
                    <td class="text-darker">{{details.name}}</td>
                </tr>
                <tr>
                    <th class="fw--700 text-darkest">Skills</th>
                    <td class="text-darker" *ngFor="let item of details.skills">{{item}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Profile Item End -->

    <!-- Profile Item Start -->
    <div class="profile--item">
        <div class="profile--heading">
            <h3 class="h4 fw--700">
                <span class="mr--4">Biography</span>
                <i class="ml--10 text-primary fa fa-caret-right"></i>
            </h3>
        </div>

        <div class="profile--info">
            <p class="text-darker">{{details.description}}</p>
        </div>
    </div>
    <!-- Profile Item End -->

    <!-- Profile Item Start -->
    <div class="profile--item">
        <div class="profile--heading">
            <h3 class="h4 fw--700">
                <span class="mr--4">Work Experience</span>
                <i class="ml--10 text-primary fa fa-caret-right"></i>
            </h3>
        </div>

        <div class="profile--info">
            <dl>
                <dt>
                    <p class="h6 fw--700 text-darkest">Graphic Designer 2010 - 2012</p>
                    <p><small class="fw--400 fs--12 text-darker">Graphicriver.net at
                            Sydney</small></p>
                </dt>
                <dd>
                    <p>There are many variations of passages of Lorem Ipsum available, but
                        the majority have suffered alteration in some form, by injected
                        humour which don't look even slightly believable.</p>
                </dd>

                <dt>
                    <p class="h6 fw--700 text-darkest">Font-End Developer 2012 - 2014</p>
                    <p><small class="fw--400 fs--12 text-darker">Themeforest.net at
                            Australia</small></p>
                </dt>
                <dd>
                    <p>There are many variations of passages of Lorem Ipsum available, but
                        the majority have suffered alteration in some form, by injected
                        humour which don't look even slightly believable.</p>
                </dd>

                <dt>
                    <p class="h6 fw--700 text-darkest">Web Developer 2014 - Still Now</p>
                    <p><small class="fw--400 fs--12 text-darker">Codecanyon.net at
                            Sydney</small></p>
                </dt>
                <dd>
                    <p>There are many variations of passages of Lorem Ipsum available, but
                        the majority have suffered alteration in some form, by injected
                        humour which don't look even slightly believable.</p>
                </dd>
            </dl>
        </div>
    </div>
    <!-- Profile Item End -->
</div>
<!-- Profile Details End -->
</div>