<!-- New Post Modal -->
<div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">What project is on your mind?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter project name"
                        [(ngModel)]="newPost.name">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" rows="2" name="description"
                        placeholder="Enter project description" [(ngModel)]="newPost.description"></textarea>
                </div>

                <div class="form-group">
                    <label for="selectSkill">Skills Needed</label>
                    <select class="form-control" id="selectSkill" #s (change)="addSkill(s.value)">
                        <option value="Select a skill" disabled>Select a skill</option>
                        <option *ngFor="let skill of SKILLS_ARRAY" value={{skill}}>
                            {{skill}}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-outline-info mr-2"
                        *ngFor="let item of newPost.skills; let idx = index"
                        (click)="deleteSkill(idx)">{{item}}</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="clearNewPost()"
                    data-dismiss="modal">Close</button>
                <button type="button" (click)="addNewPost()" data-dismiss="modal" class="btn btn-primary">Post</button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Page Wrapper Start -->
    <section class="page--wrapper pt--40 pb--20">
        <div class="container">
            <div class="row">
                <!-- Main Content Start -->
                <div class="main--content col-md-8 pb--60">
                    <div class="main--content-inner drop--shadow">
                        <!-- Content Nav Start -->
                        <div class="content--nav pb--30">
                            <ul class="nav ff--primary fs--14 fw--500 bg-lighter">
                                <li style="cursor: pointer;" class="active"><a>Projects</a></li>
                                <li style="cursor: pointer;"><a href="/users">Users</a></li>
                            </ul>
                        </div>
                        <!-- Content Nav End -->
                        <!-- Activity List Start -->
                        <div class="activity--list">
                            <!-- Activity Items Start -->
                            <ul class="activity--items nav">
                                <li
                                    *ngFor="let post of posts | filter:searchText:'name' | skills:filterSkills:'skills' | filter:ownerText:'ownerName'; let idx = index">
                                    <!-- Activity Item Start -->
                                    <div class="activity--item">
                                        <div class="activity--avatar">
                                            <a (click)="routeProfileString(post.ownerEmail)"><img [src]="buildPic(post.ownerEmail)"
                                                    alt=""></a>
                                        </div>
                                        <div class="activity--info fs--14">
                                            <div class="activity--header">
                                                <p><a style="cursor: pointer;"
                                                        (click)="routeProfileString(post.ownerEmail)">{{post.ownerName}}</a>
                                                    is seeking collaborator(s) for <a style="cursor: pointer"
                                                        (click)="routeProject(post)">{{post.name}}</a></p>
                                            </div>

                                            <div class="activity--meta fs--12">
                                                <p><i class="fa mr--8 fa-clock-o"></i>{{post.age}}</p>
                                            </div>

                                            <div class="activity--content">
                                                <p>{{post.description}}</p>
                                            </div>

                                            <div class="activity--action fw--700">
                                                <ng-container>
                                                    <!-- <button
                                                        style="background: url(../../assets/outline-thumb_up-24px.svg); margin-right: 10px; margin-top: 7px; padding: 0.9em; border: none"
                                                        *ngIf="post.likes !== undefined && post.likes.includes(currentUserEmail)" (click)="like(post)" type="button"></button> -->

                                                    <a *ngIf="!post.likes.includes(currentUserEmail)" style="margin-right: 30px; cursor: pointer;" (click)="like(post)">{{post.likes.length}} Like</a>
                                                    <a *ngIf="post.likes.includes(currentUserEmail)" style="margin-right: 30px; cursor: pointer;">{{post.likes.length}} Like</a>
                                                </ng-container>
                                               
                                                <a style="cursor: pointer" (click)="toggleCommentBox(idx)">Comment</a>

                                                <button
                                                    style="background: url(../../assets/baseline-expand_more-24px.svg); margin-left: 10px; margin-top: 7px; padding: 0.9em; border: none"
                                                    (click)="toggleCommentsDisplay(idx)" type="button"></button>
                                                
                                                <button
                                                    style="background: url(../../assets/baseline-expand_less-24px.svg); margin-left: 10px; margin-top: 7px; padding: 0.9em; border: none"
                                                    (click)="toggleCommentsDisplay(idx)" type="button"></button>
                                                
                                                <!-- <img *ngIf="!post.showComments" src="../../assets/baseline-expand_more-24px.svg" style="margin-left: 10px; cursor: pointer" (click)="toggleCommentsDisplay(post)">
                                                <img *ngIf="post.showComments" src="../../assets/baseline-expand_less-24px.svg" style="margin-left: 10px; cursor: pointer" (click)="toggleCommentsDisplay(post)"> -->
                                            </div>

                                            <div *ngIf="idx == openCommentIdx" class="input-group mb-3">
                                                <input type="text" style="width: 30em" class="form-control"
                                                    placeholder="Comment" [(ngModel)]="newCommentText"
                                                    aria-label="Comment" aria-describedby="basic-addon2">
                                                <!-- <button
                                                    style="background: url(d24imx1z1vc7kd.cloudfront.net/static-images/baseline-send-24px.svg); margin-left: 10px; margin-top: 7px; padding: 0.9em; border: none"
                                                    (click)="addNewComment(post)" type="button"></button> -->
                                                <button
                                                    style="background: url(../../assets/baseline-send-24px.svg); margin-left: 10px; margin-top: 7px; padding: 0.9em; border: none"
                                                    (click)="addNewComment(post)" type="button"></button>
                                            </div>

                                            <ng-container *ngIf="idx == showCommentsIdx">
                                                <div *ngFor="let comment of post.comments | reverse" class="activity--comments fs--12">
                                                    <ul class="acomment--items nav">
                                                        <li>
                                                            <div class="acomment--item clearfix">
                                                                <div class="acomment--avatar">
                                                                    <a (click)="routeProfileString(comment.commentOwnerEmail)"><img [src]="buildPic(comment.commentOwnerEmail)"
                                                                        alt=""></a>
                                                                    <!-- <a href="/profile/">
                                                                        <img [src]="" alt="">
                                                                    </a> -->
                                                                </div>

                                                                <div class="acomment--info">
                                                                    <div class="acomment--header">
                                                                        <p><a style="cursor: pointer;" (click)="routeProfileString(comment.commentOwnerEmail)">{{comment.commentOwner}}</a> Replied</p>
                                                                    </div>

                                                                    <div class="acomment--meta">
                                                                            <p><i class="fa mr--8 fa-clock-o"></i>{{comment.age}}</p>
                                                                    </div>

                                                                    <div class="acomment--content">
                                                                        <p>{{comment.commentText}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <!-- Activity Item End -->
                                </li>
                            </ul>
                            <!-- Activity Items End -->
                        </div>
                        <!-- Activity List End -->
                    </div>
                    <!-- Main Inner Content End-->
                </div>
                <!-- Main Content End -->

                <!-- Project Main Sidebar Start -->
                <div class="main--sidebar col-md-4 pb--60">
                    <!-- Widget Start -->
                    <div class="widget">
                        <h2 class="h4 fw--700 widget--title">Create A Project</h2>

                        <!-- Buddy Finder Widget Start -->
                        <div class="buddy-finder--widget" data-toggle="modal" data-target="#newPostModal">
                            <button type="button" class="btn btn-primary mr-2">Begin</button>
                        </div>
                        <!-- Buddy Finder Widget End -->
                    </div>
                    <!-- Widget End -->

                    <!-- Widget Start -->
                    <div class="widget">
                        <h2 class="h4 fw--700 widget--title">Seek Project by Name</h2>

                        <!-- Buddy Finder Widget Start -->
                        <div class="buddy-finder--widget">
                            <label>
                                <input class="form-control" [(ngModel)]="searchText" placeholder="Search by name">
                            </label>
                        </div>
                        <!-- Buddy Finder Widget End -->
                    </div>
                    <!-- Widget End -->

                    <!-- Widget Start -->
                    <div class="widget">
                        <h2 class="h4 fw--700 widget--title">Filter by Skills</h2>
                        <label>
                            <select class="form-control" id="filterSkill" #fsk (change)="filterAddSkill(fsk.value)">
                                <option value="Select a skill" disabled>Select a skill</option>
                                <option *ngFor="let skill of SKILLS_ARRAY" value={{skill}}>
                                    {{skill}}
                                </option>
                            </select>
                        </label>
                        <div>
                            <button type="button" class="btn btn-outline-info mr-2"
                                *ngFor="let item of filterSkills; let i = index"
                                (click)="filterDeleteSkill(i)">{{item}}</button>
                        </div>
                    </div>
                    <!-- Widget End -->

                    <!-- Widget Start -->
                    <div class="widget">
                        <!-- Buddy Finder Widget Start -->
                        <div class="buddy-finder--widget">
                            <h2 class="h4 fw--700 widget--title">Owner Name</h2>
                            <label>
                                <input class="form-control" [(ngModel)]="ownerText" placeholder="Search by owner name">
                            </label>
                        </div>
                        <!-- Buddy Finder Widget End -->
                    </div>
                    <!-- Widget End -->

                    <!-- Widget Start -->
                    <div class="widget">
                        <h2 class="h4 fw--700 widget--title">Advertisements</h2>

                        <!-- Ad Widget Start -->
                        <div class="ad--widget">
                            <a href="#">
                                <img [src]="buildAsset('ad.jpg')" alt="" class="center-block">
                            </a>
                        </div>
                        <!-- Ad Widget End -->
                    </div>
                    <!-- Widget End -->
                </div>
                <!-- Project Main Sidebar End -->
            </div>
        </div>
    </section>
    <!-- Page Wrapper End -->
</div>
<!-- Wrapper End -->

<!-- Back To Top Button Start -->
<div id="backToTop">
    <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
</div>
<!-- Back To Top Button End -->