<div class="container-fluid">
    <div class="row">
        <div class="offset-2 col-8">

            <!-- Create New post Card -->
            <div class="card mb-4 mt-2">
                <div style="cursor: pointer" class="card-header text-center" data-toggle="modal" data-target="#newPostModal">
                    <a href="#" class="text-dark mr-2 font-weight-light">Create New Post</a>
                    <img src="assets/writing.svg" height="30" alt="a responsive img" class="float-right mr-2">
                </div>
            </div>

            <!-- Posting cards -->
            <div style="cursor: pointer;" class="card text-center mb-3" *ngFor="let post of posts; let idx = index" (click)="displayPost(post)" data-toggle="modal" data-target="#postModal">
                <div class="card-header text-left">
                    <h4>{{post.name}}</h4>
                    <!-- <img src="assets/jeetsball.jpg" alt=""> -->
                </div>
                <div class="card-body text-left">
                    <h6>{{post.description}}</h6>
                    <div class="form-group mt-3 mb-0">
                        <button type="button" class="btn btn-outline-info mr-2" *ngFor="let item of post.skills; let i = index">{{item}}</button>
                    </div>
                </div>
                <!-- <div class="card-footer text-muted">
                    2 days ago
                </div> -->
            </div>

 
            <!-- Modal -->
            <div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">What project is on your mind?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Enter project name"
                                    [(ngModel)]="newPost.name">
                            </div>
                            
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea type="text" class="form-control" rows="2" name="description" placeholder="Enter project description"
                                    [(ngModel)]="newPost.description"></textarea>   
                            </div>        

                            <div class="form-group">
                                <label for="selectSkill">Skills Needed</label>
                                <select class="form-control" id="selectSkill" #s (change)="addSkill(s.value)">
                                    <option value="Select a skill" disabled>Select a skill</option>
                                    <option *ngFor="let skill of SKILLS_ARRAY" value={{skill}}>
                                        {{skill}}
                                    </option>
                                </select>
                            </div>

                            

                            <div *ngIf="isOP" class="form-group">
                                <button type="button" class="btn btn-outline-info mr-2" *ngFor="let item of newPost.skills; let idx = index" (click)="deleteSkill(idx)">{{item}}</button>
                            </div>
                            <div *ngIf="!isOP" class="form-group">
                                <button type="button" class="btn btn-outline-info mr-2" *ngFor="let item of newPost.skills; let idx = index" >{{item}}</button>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="clearNewPost()" data-dismiss="modal">Close</button>
                            <button type="button" (click)="addNewPost()" data-dismiss="modal" class="btn btn-primary">Post</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of modal -->

            <!-- The coolest of Modals -->
            <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModal" aria-hidden="false">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ selectedPost.name }}</h4><br>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="text-left">{{ selectedPost.ownerName }}</h6> 
                                <p class="text-left">{{ selectedPost.ownerEmail }}</p>
                            </div>
                            <div class="col-sm-8 border-left">
                                <h6>Project Description</h6>
                                <p *ngIf="!isOP">{{ selectedPost.description }}</p>
                                <textarea *ngIf="isOP" [(ngModel)]="selectedPost.description" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div *ngIf="isOP" class="col-sm-4">
                                <div class="form-group">
                                    <h6>Skills Needed</h6>
                                    <select class="form-control" id="selectedSkill" #sk (change)="selectedAddSkill(sk.value)">
                                        <option value="Select a skill" disabled>Select a skill</option>
                                        <option *ngFor="let skill of SKILLS_ARRAY" value={{skill}}>
                                            {{skill}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="isOP" class="col-sm-8 mt-2">
                                <br>
                                <button type="button" class="btn btn-outline-info mr-2" *ngFor="let item of selectedPost.skills; let i = index" (click)="selectedDeleteSkill(i)">{{item}}</button>
                            </div>
                            <div *ngIf="!isOP" class="col-sm-8 mt-2">
                                    <br>
                                    <button type="button" class="btn btn-outline-info mr-2" *ngFor="let item of selectedPost.skills; let i = index" >{{item}}</button>
                                </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button *ngIf="isOP" (click)="deletePost()" class="btn btn-danger mr-auto" data-dismiss="modal">Delete</button>
                        <button class="btn btn-secondary pl-6 pr-6" data-dismiss="modal">Close</button>
                        <button *ngIf="!isOP && showApply" (click)="apply()" class="btn btn-primary pl-6 pr-6" data-dismiss="modal">Apply</button>
                        <button *ngIf="isOP" (click)="saveSelectedPost()" data-dismiss="modal" class="btn btn-success pl-6 pr-6">Save</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- End of cool modal -->
            <button *ngIf="showMore" (click)="fetchMore()" class="btn btn-success pl-6 pr-6">Load more</button> 
        </div>
    </div>
</div>