<div class="container-fluid">
    <div class="form-group">
        <label for="name">Name</label>
        <p class="form-control-static">{{ post.name }}</p>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <p *ngIf="!isOP" class="form-control-static">{{ post.description }}</p>
        <input *ngIf="isOP" [(ngModel)]="post.description" class="form-control-static">
    </div>
    <div class="form-group">
        <label for="owner">Owner Name</label>
        <p class="form-control-static">{{ post.ownerName }}</p>
    </div>

    <div class="form-group">
        <label for="owner">Owner Email</label>
        <p class="form-control-static">{{ post.ownerEmail }}</p>
    </div>

    <div class="form-group">
            <label for="skill">Desired Skills</label>
            <input *ngIf="isOP" type="text" class="form-control" name="skill" placeholder="Enter a desired skill for this project"
            [(ngModel)]="newSkill">
            <div *ngIf="isOP" class="row mt-4">
                <div class="col-2">
                    <button type="button" (click)="addSkill()" class="btn btn-success pl-6 pr-6">Add Skill</button>
                </div>
            </div>
        </div>        
        
        <div class="form-group">
            <span *ngFor="let item of post.skills; let i = index" (click)="deleteSkill(i)" style="cursor: pointer;">{{item}}</span>
        </div>

    <button *ngIf="!isOP && showApply" (click)="apply()" class="btn btn-success pl-6 pr-6">Apply</button>
    <button *ngIf="isOP" (click)="save()" class="btn btn-success pl-6 pr-6">Save</button>
    <button *ngIf="isOP" (click)="deletePost()" class="btn btn-danger pl-6 pr-6">Delete</button>
    <button (click)="closeModal()" class="btn btn-danger pl-6 pr-6">Close</button>
</div>