<div class="container-fluid">
    <div class="form-group">
        <label for="name">Name</label>
        <p class="form-control-static">{{ post.name }}</p>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <p *ngIf="!isOP" class="form-control-static">{{ post.description }}</p>
        <input *ngIf="isOP" [(ngModel)]="post.description" class="form-control-static">
    </div>
    <div class="form-group">
        <label for="owner">Owner Name</label>
        <p class="form-control-static">{{ post.ownerName }}</p>
    </div>

    <div class="form-group">
        <label for="owner">Owner Email</label>
        <p class="form-control-static">{{ post.ownerEmail }}</p>
    </div>

    <button *ngIf="!isOP && showApply" (click)="apply()">Apply</button>
    <button *ngIf="isOP" (click)="save()">Save</button>
    <button *ngIf="isOP" (click)="deletePost()">Delete</button>
    <button (click)="closeModal()">Close</button>
</div>