<div class="container-fluid wrapper">
    <div class="row pr-3" style="height: 100vh">
        <div class="col-3 bg-secondary">
            <div style="position: sticky; position: -webkit-sticky; top: 0">
                <br>
                <h3 class="text-center">Filter</h3>
                <hr class="border-bottom mb-2">
                <input class="form-control" [(ngModel)]="searchText" placeholder="Search For Users">

                <div class="form-group mt-3">
                    <h6>Skills Needed</h6>
                    <select class="form-control" id="selectedSkill" #sk (change)="selectedAddSkill(sk.value)">
                        <option value="Select a skill" disabled>Select a skill</option>
                        <option *ngFor="let skill of SKILLS_ARRAY" value={{skill}}>
                            {{skill}}
                        </option>
                    </select>
                </div>
                       
                <div  class="col-sm-8 mt-2">
                    <br>
                    <button type="button" class="btn btn-outline-info mr-2" *ngFor="let item of editPost.skills; let i = index" (click)="selectedDeleteSkill(i)">{{item}}</button>
                </div>
                <div  class="col-sm-8 mt-2">
                    <br>
                    <button type="button" class="btn btn-outline-info mr-2" *ngFor="let item of selectedPost.skills; let i = index" >{{item}}</button>
                </div>
                
            </div>
        </div>
        <div class="col-9 pl-3 pr-3">
            <!-- <input class="form-control" [(ngModel)]="searchText" placeholder="Search"> -->

            <!-- User cards -->
            <div style="cursor: pointer;" class="card text-center mb-3" *ngFor="let user of users | filter:searchText:'name'; let idx = index" (click)="routeProfile(user)">
                <div class="card-header text-left">
                    <img class="rounded-circle" height="40" [src]='buildPic(user.email)'>
                    <h4>{{user.name}}</h4>
                </div>
                <div class="card-body text-left">
                    <h6>{{user.description}}</h6>
                    <div class="form-group mt-3 mb-0">
                        <button type="button" class="btn btn-outline-info mr-2" *ngFor="let item of user.skills; let i = index">{{item}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>