<!-- Footer Section Start -->
<footer class="footer--section">
    <!-- Footer Copyright Start -->
    <div class="footer--copyright pt--30 pb--30 bg-darkest">
        <div class="container">
            <div class="text fw--500 fs--14 float--left">
                <p>Copyright &copy; SeekMyTeam. All Rights Reserved.</p>
            </div>

            <div class="social float--right">
                <ul class="nav"> -->
                    <li><a href="https://www.facebook.com/SeekMyTeam"><i class="fa fa-facebook"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li> -->
                </ul> 
            </div>
        </div>
    </div>
    <!-- Footer Copyright End -->
</footer>
<!-- Footer Section End -->