<!DOCTYPE html>
<html dir="ltr" lang="en">
<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preloader--inner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Coming Soon Section Start -->
        <div class="coming-soon--section" data-bg-img="assets/main.jpg" data-overlay="0.5">
            <div class="cs--bg hidden-xs">
                <div class="cs--bg-inner" data-bg-img="img/light-bg.png"></div>
            </div>

            <div class="vc--parent">
                <div class="vc--child">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <!-- 404 Content Start -->
                                <div class="cs--content text-white text-center pt--80 pb--80">
                                    <div class="caption fs--18 fw--700 text-uppercase">
                                        <p>We are <strong>Coming Soon</strong></p>
                                    </div>

                                    <!-- Countdown Start -->
                                    <div class="countdown" data-countdown="2019/09/01"></div>
                                    <!-- Countdown End -->

                                    &nbsp;
                                    <div class="desc fs--18 fw--500">
                                        <p>Thanks for registering to SeekMyTeam!</p>
                                    </div>
                                    <br>
                                    <!-- <div>
                                        <app-register-modal class="text-black text-left"></app-register-modal>         
                                    </div> -->
                                    
                                    <!-- <div class="social pt--40">
                                        <ul class="nav">
                                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-rss"></span></a></li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                            <!-- 404 Content End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Coming Soon Section End -->
    </div>
    <!-- Wrapper End -->

    <!-- ==== Plugins Bundle ==== -->
    <script src="js/plugins.min.js"></script>

    <!-- ==== Color Switcher Plugin ==== -->
    <script src="js/color-switcher.min.js"></script>

    <!-- ==== Main Script ==== -->
    <script src="js/main.js"></script>

</body>
</html>