<!-- Post Edit Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModal" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ post.name }}</h4><br>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h6 class="text-left">{{ post.ownerName }}</h6>
                        <p class="text-left">{{ post.ownerEmail }}</p>
                    </div>
                    <div class="col-sm-8 border-left">
                        <h6>Project Description</h6>
                        <p *ngIf="!isOP">{{ post.description }}</p>
                        <textarea *ngIf="isOP" [(ngModel)]="editPost.description" rows="3"
                            class="form-control"></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div *ngIf="isOP" class="col-sm-4">
                        <div class="form-group">
                            <h6>Skills Needed</h6>
                            <select class="form-control" id="selectedSkill" #sk (change)="selectedAddSkill(sk.value)">
                                <option value="Select a skill" disabled>Select a skill</option>
                                <option *ngFor="let skill of SKILLS_ARRAY" value={{skill}}>
                                    {{skill}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="isOP" class="col-sm-8 mt-2">
                        <br>
                        <button type="button" class="btn btn-outline-info mr-2"
                            *ngFor="let item of editPost.skills; let i = index"
                            (click)="selectedDeleteSkill(i)">{{item}}</button>
                    </div>
                    <div *ngIf="!isOP" class="col-sm-8 mt-2">
                        <br>
                        <button type="button" class="btn btn-outline-info mr-2"
                            *ngFor="let item of post.skills; let i = index">{{item}}</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button *ngIf="isOP" (click)="deletePost()" class="btn btn-danger mr-auto"
                    data-dismiss="modal">Delete</button>
                <button class="btn btn-secondary pl-6 pr-6" (click)='clearEdit()' data-dismiss="modal">Close</button>
                <button *ngIf="!isOP && showApply" (click)="apply()" class="btn btn-primary pl-6 pr-6"
                    data-dismiss="modal">Apply</button>
                <button *ngIf="isOP" (click)="saveSelectedPost()" data-dismiss="modal"
                    class="btn btn-success pl-6 pr-6">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- End of post edit modal -->

<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Cover Header Start -->
    <div class="cover--header pt--80 text-center" data-bg-img="img/cover-header-img/bg-02.jpg" data-overlay="0.6"
        data-overlay-color="white">
        <div class="container">
            <div class="cover--avatar" data-overlay="0.3" data-overlay-color="primary">
                <img src="img/cover-header-img/avatar-02.jpg" alt="">
            </div>

            <div class="cover--user-name">
                <h2 style="cursor: pointer;" class="h3 fw--600" (click)="displayPost()" data-toggle="modal"
                    data-target="#postModal">
                    {{post.name}}</h2>
            </div>

            <div class="cover--user-activity">
                <p><i class="fa mr--8 fa-clock-o"></i>{{post.age}}</p>
            </div>

            <div class="cover--user-desc fw--400 fs--18 fstyle--i text-darkest">
                <p>{{post.description}}</p>
            </div>
        </div>
    </div>
    <!-- Cover Header End -->

    <!-- Page Wrapper Start -->
    <section class="page--wrapper pt--40 pb--20">
        <div class="container">
            <div class="row">
                <!-- Main Content Start -->
                <div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                    <div class="main--content-inner drop--shadow">
                        <!-- Content Nav Start -->
                        <div class="content--nav pb--30">
                            <ul class="nav ff--primary fs--14 fw--500 bg-lighter">
                                <li style="cursor: pointer;" *ngIf="currentSelection === 'home'" class="active"><a
                                        (click)="changeSelection('home')">Home</a></li>
                                <li style="cursor: pointer;" *ngIf="currentSelection !== 'home'"><a
                                        (click)="changeSelection('home')">Home</a></li>
                                <li style="cursor: pointer;" *ngIf="currentSelection === 'members'" class="active"><a
                                        (click)="changeSelection('members')">Members</a></li>
                                <li style="cursor: pointer;" *ngIf="currentSelection !== 'members'"><a
                                        (click)="changeSelection('members')">Members</a></li>
                                <li style="cursor: pointer;" *ngIf="currentSelection === 'comments'" class="active"><a
                                        (click)="changeSelection('comments')">Comments</a></li>
                                <li style="cursor: pointer;" *ngIf="currentSelection !== 'comments'"><a
                                        (click)="changeSelection('comments')">Comments</a></li>       
                            </ul>
                        </div>
                        <!-- Content Nav End -->

                        <!-- Activity List Start -->
                        <div *ngIf="currentSelection === 'home'" class="activity--list">
                            <!-- Activity Items Start -->
                            <ul class="activity--items nav">
                                <!-- Multiple of these li tags for Home, Memebers, etc. -->
                                <li>
                                    <!-- Activity Item Start -->
                                    <div class="activity--item">
                                        <div class="activity--avatar">
                                            <a href="member-activity-personal.html">
                                                <img src="img/activity-img/avatar-01.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="activity--info fs--14">
                                            <div class="activity--header">
                                                <p><a href="member-activity-personal.html">Eileen K. Ruiz</a> joined the
                                                    group <a href="group-home.html">Food Recipes</a></p>
                                            </div>

                                            <div class="activity--meta fs--12">
                                                <p><i class="fa mr--8 fa-clock-o"></i>2 days ago</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Activity Item End -->
                                </li>
                            </ul>
                            <!-- Activity Items End -->
                        </div>
                        <!-- Activity List End -->

                        <!-- Filter Nav Start -->
                        <div *ngIf="currentSelection === 'members'" class="filter--nav pb--60 clearfix">
                            <div class="filter--link float--left">
                                <h2 class="h4">All members: {{members.length}}</h2>
                            </div>

                            <div class="filter--options float--right">
                                <label>
                                    <span class="fs--14 ff--primary fw--500 text-darker">Show By :</span>

                                    <select name="activityfilter" class="form-control form-sm"
                                        data-trigger="selectmenu">
                                        <option value="alphabetical">Alphabetical</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <!-- Filter Nav End -->

                        <!-- Member Items Start -->
                        <div *ngIf="currentSelection === 'members'" class="member--items">
                            <div class="row gutter--15 AdjustRow">
                                <div *ngFor="let user of members | filter:searchText:'name' | skills:filterSkills:'skills'; let idx = index"
                                    class="col-md-3 col-xs-6 col-xxs-12">
                                    <!-- Member Item Start -->
                                    <div style="cursor: pointer;" (click)="routeProfileString(user.email)"
                                        class="member--item online">
                                        <div class="img img-circle">
                                            <a class="btn-link">
                                                <img [src]="buildPic(user.email)" alt="">
                                            </a>
                                        </div>

                                        <div class="name">
                                            <h3 class="h6 fs--12">
                                                <a class="btn-link">{{user.name}}</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <!-- Member Item End -->
                                </div>
                            </div>
                        </div>

                        <div *ngIf="currentSelection === 'comments'">
                            <div *ngFor="let comment of comments | reverse"
                                class="activity--comments fs--12">
                                <ul class="acomment--items nav">
                                    <li>
                                        <div class="acomment--item clearfix">
                                            <div class="acomment--avatar">
                                                <div class="img img-circle">
                                                    <a class="btn-link">
                                                        <img [src]="buildPic(comment.commentOwnerEmail)" alt="">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="acomment--info">
                                                <div class="acomment--header">
                                                    <p><a style="cursor: pointer;"
                                                            (click)="routeProfileString(comment.commentOwnerEmail)">{{comment.commentOwner}}</a>
                                                        Replied</p>
                                                </div>

                                                <div class="acomment--meta">
                                                    <p><i
                                                            class="fa mr--8 fa-clock-o"></i>{{comment.age}}
                                                    </p>
                                                </div>

                                                <div class="acomment--content">
                                                    <p>{{comment.commentText}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main Content End -->

                <!-- Main Sidebar Start -->
                <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">

                    <!-- Widget Start -->
                    <div class="widget">
                        <h2 class="h4 fw--700 widget--title">Advertisements</h2>

                        <!-- Ad Widget Start -->
                        <div class="ad--widget">
                            <a href="#">
                                <img src="img/widgets-img/ad.jpg" alt="" class="center-block">
                            </a>
                        </div>
                        <!-- Ad Widget End -->
                    </div>
                    <!-- Widget End -->
                </div>
                <!-- Main Sidebar End -->
            </div>
        </div>
    </section>
    <!-- Page Wrapper End -->
</div>
<!-- Wrapper End -->